
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />


  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <title>Netflix London - Watch TV shows online, Watch movies online</title>

  <link rel="stylesheet" media="screen" href="https://cpwebassets.codepen.io/assets/fullpage/fullpage-4de243a40619a967c0bf13b95e1ac6f8de89d943b7fc8710de33f681fe287604.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic&display=swap" rel="stylesheet" />

  
<link rel="apple-touch-icon" type="image/png" href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
<meta name="apple-mobile-web-app-title" content="CodePen">

<link rel="shortcut icon" type="image/x-icon" href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />

<link rel="mask-icon" type="" href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg" color="#111" />




  <title>Netflix London - Watch TV shows online, Watch movies online</title>
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage("resize", "*");
  }
</script>


  <style>
    html { font-size: 15px; }
    html, body { margin: 0; padding: 0; min-height: 100%; }
    body { height:100%; display: flex; flex-direction: column; }
    .referer-warning {
      background: black;
      box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
      padding: 0.75em;
      color: white;
      text-align: center;
      font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
      line-height: 1.2;
      font-size: 1rem;
      position: relative;
      z-index: 2;
    }
    .referer-warning h1 { font-size: 1.2rem; margin: 0; }
    .referer-warning a { color: #56bcf9; } /* $linkColorOnBlack */
  </style>
</head>

<body class="">


  <div id="result-iframe-wrap" role="main">

    <iframe
      id="result"
      srcdoc="
<!DOCTYPE html>
<html lang=&quot;en&quot; >

<head>

  <meta charset=&quot;UTF-8&quot;>
  
<link rel=&quot;apple-touch-icon&quot; type=&quot;image/png&quot; href=&quot;https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png&quot; />
<meta name=&quot;apple-mobile-web-app-title&quot; content=&quot;CodePen&quot;>

<link rel=&quot;shortcut icon&quot; type=&quot;image/x-icon&quot; href=&quot;https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico&quot; />

<link rel=&quot;mask-icon&quot; type=&quot;&quot; href=&quot;https://cpwebassets.codepen.io/assets/favicon/logo-pin-8f3771b1072e3c38bd662872f6b673a722f4b3ca2421637d5596661b4e2132cc.svg&quot; color=&quot;#111&quot; />


  <title>Netflix London - Watch TV shows online, Watch movies online</title>
  
  
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css'>
  
<style>
/* Global Styles */
:root {
	--primary-color: #e50914;
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 100%;
}

.showcase {
	width: 100%;
	height: 93vh;
	position: relative;
	background: url('https://i.ibb.co/vXqDmnh/background.jpg') no-repeat center center/cover;
}

.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
}

.showcase-top img {
	width: 170px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content {
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
}

.showcase-content h1 {
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

/* Tabs */
.tabs {
	background: var(--dark-color);
	padding-top: 1rem;
	border-bottom: 3px solid #3d3d3d;
	border-right: none;
}

.tabs .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tabs p {
	font-size: 1.2rem;
	padding-top: 0.5rem;
}

.tabs .container > div {
	padding: 1.5rem 0;
}

.tabs .container > div:hover {
	color: #fff;
	cursor: pointer;
}

.tab-border {
	border-bottom: var(--primary-color) 4px solid;
}

/* Tab Content */
.tab-content {
	padding: 3rem 0;
	background: #000;
	color: #fff;
}

/* Hide initial content */
#tab-1-content,
#tab-2-content,
#tab-3-content {
	display: none;
	opacity: 0;
}

.show {
	display: block !important;
	opacity: 1 !important;
	transition: all 1000 ease-in;
}

#tab-1-content .tab-1-content-inner {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 2rem;
	align-items: center;
	justify-content: center;
}

#tab-2-content .tab-2-content-top {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1rem;
	justify-content: center;
	align-items: center;
}

#tab-2-content .tab-2-content-bottom {
	margin-top: 2rem;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
	text-align: center;
}

.table {
	width: 100%;
	margin-top: 2rem;
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th {
	text-transform: uppercase;
	padding: 0.8rem;
}

.table tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}

.table tbody tr td {
	color: #999;
	padding: 0.8rem 1.2rem;
	text-align: center;
}

.table tbody tr td:first-child {
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #222;
}

.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}

/* Container */
.container {
	max-width: 70%;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

/* Text Styles */
.text-xl {
	font-size: 2rem;
}

.text-lg {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.text-md {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.text-center {
	text-align: center;
}

.text-dark {
	color: #999;
}

/* Buttons */
.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
}

.btn-xl {
	font-size: 2rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;
}

.btn-icon {
	margin-left: 1rem;
}

@media (max-width: 960px) {

		.showcase {
		height: 70vh;
	}

	.hide-sm {
		display: none;
	}

	.showcase-top img {
		top: 30%;
		left: 5%;
		transform: translate(0);
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

@media (max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

	#tab-1-content .tab-1-content-inner {
		grid-template-columns: 1fr;
		text-align: center;
	}

	#tab-2-content .tab-2-content-top {
		display: block;
		text-align: center;
	}

	#tab-2-content .tab-2-content-bottom {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		text-align: center;
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}
</style>

  <script>
  window.console = window.console || function(t) {};
</script>

  
  
  <script>
  if (document.location.search.match(/type=embed/gi)) {
    window.parent.postMessage(&quot;resize&quot;, &quot;*&quot;);
  }
</script>


</head>

<body translate=&quot;no&quot; >
  <header class=&quot;showcase&quot;>
			<div class=&quot;showcase-top&quot;>
				<img src=&quot;https://i.ibb.co/r5krrdz/logo.png&quot; alt=&quot;&quot; />
				<a href=&quot;#&quot; class=&quot;btn btn-rounded&quot;>Sign In</a>
			</div>
			<div class=&quot;showcase-content&quot;>
				<h1>See what's next</h1>
				<p>Watch anywhere. Cancel Anytime</p>
				<a href=&quot;#&quot; class=&quot;btn btn-xl&quot;
					>Watch Free For 30 Days <i class=&quot;fas fa-chevron-right btn-icon&quot;></i
				></a>
			</div>
		</header>
		<section class=&quot;tabs&quot;>
			<div class=&quot;container&quot;>
				<div id=&quot;tab-1&quot; class=&quot;tab-item tab-border&quot;>
					<i class=&quot;fas fa-door-open fa-3x&quot;></i>
					<p class=&quot;hide-sm&quot;>Cancel at any time</p>
				</div>
				<div id=&quot;tab-2&quot; class=&quot;tab-item&quot;>
					<i class=&quot;fas fa-tablet-alt fa-3x&quot;></i>
					<p class=&quot;hide-sm&quot;>Watch anywhere</p>
				</div>
				<div id=&quot;tab-3&quot; class=&quot;tab-item&quot;>
					<i class=&quot;fas fa-tags fa-3x&quot;></i>
					<p class=&quot;hide-sm&quot;>Pick your price</p>
				</div>
			</div>
		</section>

		<section class=&quot;tab-content&quot;>
			<div class=&quot;container&quot;>
				<!-- Tab Content 1 -->
				<div id=&quot;tab-1-content&quot; class=&quot;tab-content-item show&quot;>
					<div class=&quot;tab-1-content-inner&quot;>
						<div>
							<p class=&quot;text-lg&quot;>
								If you decide Netflix isn't for you - no problem. No commitment.
								Cancel online anytime.
							</p>
							<a href=&quot;#&quot; class=&quot;btn btn-lg&quot;>Watch Free For 30 Days</a>
						</div>
						<img src=&quot;https://i.ibb.co/J2xDJV7/tab-content-1.png&quot; alt=&quot;&quot; />
					</div>
				</div>

				<!-- Tab Content 2 -->
				<div id=&quot;tab-2-content&quot; class=&quot;tab-content-item&quot;>
					<div class=&quot;tab-2-content-top&quot;>
						<p class=&quot;text-lg&quot;>
							Watch TV shows and movies anytime, anywhere — personalized for
							you.
						</p>
						<a href=&quot;#&quot; class=&quot;btn btn-lg&quot;>Watch Free For 30 Days</a>
					</div>
					<div class=&quot;tab-2-content-bottom&quot;>
						<div>
							<img src=&quot;https://i.ibb.co/DpdN7Gn/tab-content-2-1.png&quot; alt=&quot;&quot; />
							<p class=&quot;text-md&quot;>
								Watch on your TV
							</p>
							<p class=&quot;text-dark&quot;>
								Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, Blu-ray
								players and more.
							</p>
						</div>
						<div>
							<img src=&quot;https://i.ibb.co/R3r1SPX/tab-content-2-2.png&quot; alt=&quot;&quot; />
							<p class=&quot;text-md&quot;>
								Watch instantly or download for later
							</p>
							<p class=&quot;text-dark&quot;>
								Available on phone and tablet, wherever you go.
							</p>
						</div>
						<div>
							<img src=&quot;https://i.ibb.co/gDhnwWn/tab-content-2-3.png&quot; alt=&quot;&quot; />
							<p class=&quot;text-md&quot;>
								Use any computer
							</p>
							<p class=&quot;text-dark&quot;>
								Watch right on Netflix.com.
							</p>
						</div>
					</div>
				</div>

				<!-- Tab Content 3 -->
				<div id=&quot;tab-3-content&quot; class=&quot;tab-content-item&quot;>
					<div class=&quot;text-center&quot;>
						<p class=&quot;text-lg&quot;>
							Choose one plan and watch everything on Netflix.
						</p>
						<a href=&quot;#&quot; class=&quot;btn btn-lg&quot;>Watch Free For 30 Days</a>
					</div>

					<table class=&quot;table&quot;>
						<thead>
							<tr>
								<th></th>
								<th>Basic</th>
								<th>Standard</th>
								<th>Premium</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Monthly price after free month ends on 6/19/19</td>
								<td>$8.99</td>
								<td>$12.99</td>
								<td>$15.99</td>
							</tr>
							<tr>
								<td>HD Available</td>
								<td><i class=&quot;fas fa-times&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
							</tr>
							<tr>
								<td>Ultra HD Available</td>
								<td><i class=&quot;fas fa-times&quot;></i></td>
								<td><i class=&quot;fas fa-times&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
							</tr>
							<tr>
								<td>Screens you can watch on at the same time</td>
								<td>1</td>
								<td>2</td>
								<td>4</td>
							</tr>
							<tr>
								<td>Watch on your laptop, TV, phone and tablet</td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
							</tr>
							<tr>
								<td>Unlimited movies and TV shows</td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
							</tr>
							<tr>
								<td>Cancel anytime</td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
							</tr>
							<tr>
								<td>First month free</td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
								<td><i class=&quot;fas fa-check&quot;></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>

		<footer class=&quot;footer&quot;>
			<p>Questions? Call 1-866-579-7172</p>
			<div class=&quot;footer-cols&quot;>
				<ul>
					<li><a href=&quot;#&quot;>FAQ</a></li>
					<li><a href=&quot;#&quot;>Investor Relations</a></li>
					<li><a href=&quot;#&quot;>Ways To Watch</a></li>
					<li><a href=&quot;#&quot;>Corporate Information</a></li>
					<li><a href=&quot;#&quot;>Netflix Originals</a></li>
				</ul>
				<ul>
					<li><a href=&quot;#&quot;>Help Center</a></li>
					<li><a href=&quot;#&quot;>Jobs</a></li>
					<li><a href=&quot;#&quot;>Terms Of Use</a></li>
					<li><a href=&quot;#&quot;>Contact Us</a></li>
				</ul>
				<ul>
					<li><a href=&quot;#&quot;>Account</a></li>
					<li><a href=&quot;#&quot;>Redeem Gift Cards</a></li>
					<li><a href=&quot;#&quot;>Privacy</a></li>
					<li><a href=&quot;#&quot;>Speed Test</a></li>
				</ul>
				<ul>
					<li><a href=&quot;#&quot;>Media Center</a></li>
					<li><a href=&quot;#&quot;>Buy Gift Cards</a></li>
					<li><a href=&quot;#&quot;>Cookie Preferences</a></li>
					<li><a href=&quot;#&quot;>Legal Notices</a></li>
				</ul>
			</div>

		</footer>
    <script src=&quot;https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js&quot;></script>

  
      <script id=&quot;rendered-js&quot; >
const tabItems = document.querySelectorAll('.tab-item');
const tabContentItems = document.querySelectorAll('.tab-content-item');

// Select tab content item
function selectItem(e) {
  // Remove all show and border classes
  removeBorder();
  removeShow();
  // Add border to current tab item
  this.classList.add('tab-border');
  // Grab content item from DOM
  const tabContentItem = document.querySelector(`#${this.id}-content`);
  // Add show class
  tabContentItem.classList.add('show');
}

// Remove bottom borders from all tab items
function removeBorder() {
  tabItems.forEach(item => {
    item.classList.remove('tab-border');
  });
}

// Remove show class from all content items
function removeShow() {
  tabContentItems.forEach(item => {
    item.classList.remove('show');
  });
}

// Listen for tab item click
tabItems.forEach(item => {
  item.addEventListener('click', selectItem);
});
//# sourceURL=pen.js
    </script>

  

</body>

</html>
 
"
      sandbox="allow-downloads allow-forms allow-modals allow-pointer-lock allow-popups allow-presentation  allow-scripts allow-top-navigation-by-user-activation" allow="accelerometer; camera; encrypted-media; geolocation; gyroscope; microphone; midi" allowTransparency="true"
      allowpaymentrequest="true" allowfullscreen="true" class="result-iframe">
      </iframe>

  </div>
</body>
</html>
