body {
    font-family: "Lato", sans-serif;
  }
  
  :root {
    --primary: #94618e;
  }
  
  .justify {
    text-align: justify;
  }
  
  .text-purple {
    color: var(--primary);
  }
  
  .bg-purple {
    background-color: var(--primary);
    color: white;
  }
  