@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
* {
  box-sizing: border-box;
  margin: 0;
}


    body {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
        background-color: black;
        color: white;
      }


/* navbar */
/* header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;  
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 
   "nt mn mn sb . . . "; 
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;  
} */

.netflixLogo {
  grid-area: nt;
  object-fit: cover;
  width: 100px;
  max-height: 100%;
  
  padding-left: 30px;
  padding-top: 0px;  
}

.netflixLogo img {  
  height: 35px;     
}

#logo {
  color: #E50914;  
  margin: 0; 
  padding: 0; 
}


.main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;  
}

.main-nav a:hover {
  color: var(--dark);
}

.sub-nav {
  grid-area: sb;
  padding: 0 40px 0 40px;
}

.sub-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.sub-nav a:hover {
  color: var(--dark);
}


/* MAIN CONTIANER */
.main-container {
  padding: 50px;
}

.box {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(7, minmax(100px, 1fr));
}

.box a {
  transition: transform .3s;  
}

.box a:hover {
  transition: transform .3s;
  -ms-transform: scale(1.4);
  -webkit-transform: scale(1.4);  
  transform: scale(1.4);
}

.box img {
  border-radius: 2px;
}

/* LINKS */
.link {
  padding: 50px;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}

.logos a{
  padding: 10px;
}

.logo {
  color: var(--dark);
}


/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}

/* MEDIA QUERIES */

@media(max-width: 900px) {


  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

}

@media(max-width: 700px) {

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
   
}

@media(max-width: 500px) {

  .wrapper {
    font-size: 15px;
  }


  .netflixLogo {
    max-width: 100%;
    margin: auto;
    padding-right: 20px;
  }

  .main-nav {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  h1 {
    text-align: center;
    font-size: 18px;
  }

 

  .box {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;    
  }

  .box a:hover {
    transition: transform .3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);  
    transform: scale(1.2);
  }

  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-links ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
    font-size: 15px;
  }

}
 /* Card Css */
/* .wrapper{
  left: 25%;
    top: 25%;
    position: absolute;
} */
.wrapper{
  margin-top: 18%;
}
 .main_card {
	color: #fff;
	width: 760px;
	height: 390px;
  margin: 92px auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 770px;
	background: #00C9FF; 
	background: -webkit-linear-gradient(to right, #92FE9D, #00C9FF);
	background: -webkit-gradient(linear, left top, right top, from(#92FE9D), to(#00C9FF));
	background: -webkit-linear-gradient(left, #92FE9D, #00C9FF);
	background: -o-linear-gradient(left, #92FE9D, #00C9FF);
	background: linear-gradient(to right, #ffffff40, #000000);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,0.3); 
	        box-shadow: 0 0 40px rgba(0,0,0,0.3);
}

.card_left {
	width: 90%;
}

.card_datails {
	width: 90%;
	padding: 30px;
	margin-top: -2px;
}
.card_datails  h1 {
	font-size: 30px;
}
.card_right img {
	height: 390px;
	border-radius: 2px;
  width: 254px;
}
.card_right {
	border-radius: 2px;
}

.card_cat {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.PG, .year, .genre, .time {
	color: fff;
	padding: 10px;
	font-weight: bold;
	border-radius: 15px;
}

.PG {
  background: #e50914;
	-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.1);
	        box-shadow: 0 0 50px rgba(0,0,0,0.1);
	transition: 300ms ease-in-out;
}

.disc {
	font-weight: 100;
	line-height: 27px;
}
.card_datails a{
	color: darkcyan;
	display: block;
	text-decoration: none;
}
.social-btn {
	margin-left: -15px;
}
button {
	color: #fff;
	border: none;
	padding: 14px;
	outline: none;
	font-size: 12px;
	margin-top: 30px;
	margin-left: 10px;
  background: #e50914;
	border-radius: 12px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.2);
	        box-shadow: 0 0 20px rgba(0,0,0,0.2);
	-webkit-transition: 300ms ease-in-out;
	-o-transition: 200ms ease-in-out;
	transition: 200ms ease-in-out;
}

button:hover {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
}
.play_btn {
	height: 100%;
	margin: -390px auto;
	position: relative;
	text-align: center;
	background: rgb(0 0 0 / 0%);
	box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.fa-play-circle {
  color: #000000b8;
  font-size: 160px;
  margin-top: 110px;
  -webkit-animation: bounce 2s 0.6s infinite;
  animation: bounce 2s 0.6s infinite;
}


.fa-play-circle:hover {
	color: rgb(196, 16, 10);
	animation: bounce 1.0s infinite;
}
@-webkit-keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  10% {
    transform: scale(1.8);
    -webkit-transform: scale(2);
    opacity: 0;
		}
}

@keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  20% {
    transform: scale(1.8);
    -webkit-transform: scale(2);
    opacity: 0;
		}
}

/* cards css */

/* search bar */

#searchMovie{
  padding: 0 !important;
  height: 40px;
}

#search-btn{
  margin-top: 0% !important;
  margin-bottom: 0% !important;
  margin-left: 5px;
}


/* .search-box {
  position: fixed;
    top: 5.4%;
    left: 68%;
    transform: translate(-105%, -51%);
    background: #312d2d;
    height: 47px;
    border-radius: 40px;
    padding: 8px;
  
}

.search-box:hover > .search-text{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-btn{
  background: white;
  color: black;
  
}

.search-btn {
 color: #e84118;
    float: right;
    width: 34px;
    height: 32px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
    text-decoration: none;
  
}
.search-btn > i {
  font-size: 30px;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: normal;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  
  width: 250px;
  
  
  
} */

/* sorting dropdown */
.nice-select-wrap {
  top: 24%;
    left: 69%;
    position: absolute;
    margin: 0rem auto 0;
    width: 11rem;
    border-radius: 1.25rem;
    border: 2px solid #ff2a2a;
    overflow: hidden;
    background-color: #2b2727;
    transition: background 300ms ease;
}
.nice-select-wrap.down {
  background-color: #1b1919;
}
.nice-select-wrap.down .drop::after {
  transform: rotate(-90deg);
}
.nice-select-wrap .drop, .nice-select-wrap ul a {
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #666;
  font-size: 0.88rem;
  line-height: 1.88;
  height: 2.5rem;
}
.nice-select-wrap .drop {
  position: relative;
}
.nice-select-wrap .drop::after {
  content: ">";
  position: absolute;
  text-align: center;
  width: 1rem;
  height: 1rem;
  top: 50%;
  right: 1rem;
  margin-top: -0.5rem;
  color: #666;
  transform: rotate(90deg);
  line-height: 0.94;
  transition: all 300ms ease;
}
.nice-select-wrap ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
}
.nice-select-wrap ul a {
  position: relative;
}
.nice-select-wrap ul a:hover {
  color: red;
}
.nice-select-wrap ul a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(245, 245, 245, 0) 0%, whitesmoke 10%, whitesmoke 90%, rgba(245, 245, 245, 0) 100%);
}