
    <div id="containers">
  
    <p id="text">RefreshUs</p>
  
    <p id="shadow">
        <span id="glow">Refresh</span><span id="blink">Us</span>
    </p>
  
</div>

<div class="boxes">
    <br>
      <a href="/auth/google">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <i class="fab fa-google"></i>
        Login With Google
      </a>
</div>
  